:root {
  --gk-code-gutter-width: 10px;
  --gk-code-line-height: 25px;
  --gk-tab-label-inactive-color: #0000008a;
  --gk-tab-label-active-color: #000000;
  --gk-tab-label-font: 700 0.9em -apple-system, BlinkMacSystemFont, Helvetica,
    Arial, sans-serif;
}

.gk-unified-code {
  display: grid;
  grid-template-rows: auto 1fr;

  &[data-gk-style="row"] {
    grid-template-columns: repeat(var(--gk-code-count), 1fr);

    .gk-code:not(:last-child) {
      border-right: #aaaaaa8a double 2px;
    }
  }
}

.gk-code {
  display: grid;
  grid-template-columns: var(--gk-code-gutter-width) 1fr;
  br {
    display: none;
  }
  .line {
    display: block;
    height: var(--gk-code-line-height);
    padding: 0 10px;
  }

  * {
    position: relative;
  }

  &.gk-hidden {
    display: none;
  }
}

.gk-code-display {
  overflow-x: auto;
  overflow-y: hidden;
  z-index: 1;
  pre {
    overflow: visible;
    width: fit-content;
    min-width: 100%;
    line-height: 1.3;
    margin: calc(var(--gk-code-line-height) / 2) 0;
  }
}

.gk-gutter {
  position: relative;
  margin: calc(var(--gk-code-line-height) / 2) 0;
}

.gk-gutter-line,
.gk-gutter-group {
  position: absolute;
  width: 100%;
  transition: all 0.2s;
}

.gk-gutter-group {
  counter-reset: line;
  overflow-y: hidden;
}

.gk-gutter-line {
  height: var(--gk-code-line-height);
}

.gk-section {
  display: block;
  transition: height 0.2s;
}

$highlight-colors: (
  "hl": #f8a10048,
  "diff-add": #00ff0028,
  "diff-del": #ff000028,
);

@each $type, $color in $highlight-colors {
  .gk-section[data-gk-type="#{$type}"] {
    background-color: $color;
  }
  .gk-gutter-group[data-gk-type="#{$type}"] {
    background-color: $color;
  }
}

.gk-ellipsis {
  display: none;

  &.gk-hidden {
    display: inline;
  }
}

.gk-section.gk-hidden {
  overflow: hidden;
  .gk-zip-first-line {
    background-color: #dddddd8a;
  }
}

.gk-icon-caret {
  display: inline-block;
  position: absolute;
  right: 0;
  height: 100%;
  svg {
    transition: all 0.2s;
    display: inline-block;
  }
  &.gk-hidden svg {
    transform: rotate(-90deg);
  }
}

.gk-tooltip-switcher {
  position: relative;
  max-height: 0;
}

.gk-tooltip-switcher-button {
  position: absolute;
  z-index: 1;
  cursor: pointer;
  --s: var(--gk-code-line-height);
  --p: calc(0.4 * var(--s));
  padding: var(--p);
  --h: calc(var(--s) + 2 * var(--p));
  border-radius: var(--s);
  height: var(--s);
  width: var(--s);
  top: calc(-0.5 * var(--h));
  left: calc(50% - 0.5 * var(--h));
  transition: all 0.1s ease-in-out;
  opacity: 0.3;
  box-sizing: content-box;
  &:hover,
  &:focus,
  &:not(.gk-hidden) {
    opacity: 1;
    $color: rgb(253, 253, 253);
    background: radial-gradient(
      circle,
      rgba($color: $color, $alpha: 0) 0%,
      rgba($color: $color, $alpha: 0.4) 80%,
      rgba($color: $color, $alpha: 1) 100%
    );
  }
  svg {
    height: var(--s);
    width: var(--s);
    path {
      fill: rgba($color: rgb(128, 128, 128), $alpha: 0.9);
    }
  }
}

.gk-tooltip-container {
  overflow-y: hidden;
  position: relative;
  transition: height 0.2s;
  background-color: rgba($color: #111, $alpha: 0.02);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -1px 0px inset;

  &.gk-hidden {
    height: 0 !important;
  }
}

.gk-tooltip-box-text {
  display: block;
}

.gk-hidden .gk-tooltip-box {
  user-select: none;
}

.gk-tooltip-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 0.8em;
  position: absolute;
  padding: 0 1em;
  border-left: 3px var(--color) solid;
  cursor: pointer;
  background: #ffffff8a;
  left: var(--left);
  top: var(--top);
  height: var(--height);
  max-height: var(--height);
  border-radius: 2px;
  border-bottom-left-radius: 2px;
  box-sizing: border-box;
  transition: all 0.125s ease;

  &:hover {
    background-color: #fff;
  }
}

.gk-tooltip-hline {
  position: absolute;
  left: calc(2px * var(--level));
  top: calc(var(--top) - 2px);
  width: calc(var(--width) - 2px * var(--level));
  height: 2px;
  background-color: var(--color);

  &.gk-hidden {
    display: none;
  }
}

.gk-tooltip-vline1 {
  position: absolute;
  top: 0;
  height: calc(var(--height));
  left: calc(var(--level) * 2px);
  width: 2px;
  background-color: var(--color);

  &.gk-hidden {
    display: none;
  }
}

.gk-section:hover > .gk-tooltip-vline2 {
  display: block;
}

.gk-tooltip-vline2 {
  position: absolute;
  background-color: var(--color);
  top: 0;
  left: calc(var(--level) * 2px);
  width: 2px;
  bottom: 0;
  border-radius: 1px;

  &.gk-hidden {
    display: none;
  }

  &::before,
  &::after {
    position: absolute;
    content: " ";
    background-color: var(--color);
    height: 2px;
    width: 10px;
  }
  &::before {
    top: 0;
  }
  &::after {
    bottom: 0;
  }
}

.gk-tabber {
  position: relative;
}

.gk-tab-list {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    background-color: black;
    height: 0.1rem;
    bottom: 0;
    width: var(--gk-tab-indicator-width);
    left: var(--gk-tab-indicator-left);
    transition: all 0.125s ease;
  }
}

.gk-tab {
  flex-shrink: 0;
  cursor: pointer;
  padding: 0.78125em 1.25em 0.625em;
  border-bottom: 0.1rem solid transparent;
  transition: all 125ms ease;
  color: var(--gk-tab-label-inactive-color);
  font: var(--gk-tab-label-font);

  &.gk-active,
  &:hover {
    color: var(--gk-tab-label-active-color);
  }
}

.gk-tab-button {
  position: absolute;
  width: 1.5em;
  height: 100%;
  display: flex;
  top: 0;
  > span {
    display: block;
    align-self: center;
    width: 1.2em;
    height: 1.2em;
    border-radius: 100%;
    color: #0000008a;
    transition: all 0.125s ease;
    cursor: pointer;
    pointer-events: all;

    &::after {
      display: block;
      background-color: currentcolor;
      height: 100%;
      width: 100%;
      content: "";
      display: block;
    }
    &:hover {
      color: #fa0;
      background-color: #ffaa001a;
    }
  }

  &.gk-disabled {
    display: none;
  }
}

.gk-tab-button-prev {
  left: 0;
  justify-content: end;
  > span::after {
    mask-image: var(--gk-tab-icon--prev);
  }
}

.gk-tab-button-next {
  right: 0;
  background: linear-gradient(to left, #fff 60%, #0000);
  justify-content: end;

  > span::after {
    mask-image: var(--gk-tab-icon--next);
  }
}

:root {
  --gk-tab-icon--prev: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M15.41 16.58 10.83 12l4.58-4.59L14 6l-6 6 6 6 1.41-1.42Z"/></svg>');
  --gk-tab-icon--next: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M8.59 16.58 13.17 12 8.59 7.41 10 6l6 6-6 6-1.41-1.42Z"/></svg>');
}
